
input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="number"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="number"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="email"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="email"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="url"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="url"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="search"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="search"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #b9feb9;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

textarea[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

